@import "../index.scss";

.Layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .bg-img {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    left: 0;
    top: 0;

    user-select: none;
    pointer-events: none;
  }
  .window {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    border-radius: 12px;
    width: 95vw;
    height: 95vh;
    max-width: 1000px;
    gap: 5px;
    max-height: 600px;
    position: relative;
    .side-bar,
    .content {
      background: rgba(#fff, 0.95);
      border-radius: 10px;
      box-shadow: $shadow_7;
      max-height: 600px;
      overflow: auto;
      padding: 10px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .side-bar {
      min-width: 220px;
      .profile-img {
        display: block;
        border-radius: 6px;
        margin: 20px auto;
        width: 220px;
        height: 200px;
        object-fit: cover;
      }
      .name {
        text-align: center;
        font-size: 20px;
        margin-bottom: 240px;
      }
    }
    .nav {
      position: absolute;
      top: 20px;
      right: -60px;
      .nav-btn {
        cursor: pointer;
        border-radius: 0px 6px 6px 0px;
        min-width: 60px;
        height: 30px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: darkcyan;
        color: #fff;
        // box-shadow: $shadow_7;
        border-top: solid 1px $gray_5;
        border-bottom: solid 1px $gray_5;
        border-right: solid 1px $gray_5;
        &.current {
          background-color: #fff;
          color: #333;
        }
      }
    }
  }
}
