@import "../index.scss";

.Diary {
  .month-button-area {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    .year-month {
      margin: 0 30px;
      text-align: center;
      .year {
        font-size: 14px;
        color: $gray_6;
        margin-bottom: 5px;
      }
    }
  }
  .date-area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .date {
      display: flex;
      justify-content: center;
      justify-self: center;
      align-items: center;
      width: 32px;
      height: 32px;
    }
  }
  .table {
    margin-top: 4px;
    padding: 0 4px;
    box-sizing: border-box;
    .week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-bottom: 4px;
      .day {
        display: flex;
        justify-self: center;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        font-weight: 600;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        .dot {
          position: absolute;
          right: -10px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $gray_7;
        }
        &:hover {
          background: $gray_3;
        }
        &.today {
          background: $gray_6;
          border: none;
          color: #fff;
          &:hover {
            background: $gray_7;
          }
        }
        &.select {
          background: $blue_5;
          color: #fff;
          &:hover {
            background: $blue_5;
          }
        }
        &.prev,
        &.next {
          color: $gray_5;
        }
        &.disabled {
          background: transparent;
          color: $gray_5;
          cursor: not-allowed;
        }
      }
    }
  }
  .diary-area {
    margin-top: 20px;
    padding: 10px;
    border: dashed 1px $gray_6;
    .none-message {
      margin: 0;
      color: $gray_6;
      font-weight: 300;
    }
  }
  .editor-area {
    margin-top: 20px;
  }
}
